.App {
  text-align: center;
}

.token-symbol {
  height: 64px;
  width: 64px;
  margin: 5px;
}

.home-section button {
  line-height: 24px;
  margin-bottom: 24px;
}

.main-logo {
  width: 300px;
}

.content {
  padding: 25px;
}
.error-text {
  color: red;
  font-style: italic;
}

.ant-layout-sider,
.ant-layout-header,
.ant-layout-footer,
.ant-layout,
.site-layout-background {
  background: #fff !important;
}
